.appbar {
    background-color: darkcyan;
}


.button {
    color: aliceblue;
    align-self: center;
}

.title {
    margin-right: 3.5cm;
    font-family: fantasy;
    font-weight: 600;
    text-shadow: 2px 2.5px black;
}